<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12">
				<h1>Hash generator</h1>
			</div>
		</div>

		<div class="row">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="inputLength" class="col-sm-2 control-label">Input string</label>
					<div class="col-sm-10">
						<textarea ng-model="input" class="form-control" rows="6" ng-change="recalculateHashes()"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="inputLength" class="col-sm-2 control-label">MD5 hash</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="textInput" ng-model="hashes.md5" readonly="true">
					</div>
				</div>
				<div class="form-group">
					<label for="inputLength" class="col-sm-2 control-label">SHA1 hash</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="textInput" ng-model="hashes.sha1" readonly="true">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
