<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12">
				<h1>Password generator</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-sm-12">
				<div class="well">
					<h3>Options</h3>
					<form class="form-horizontal">
					  <div class="form-group">
							<label for="inputLength" class="col-sm-2 control-label">Length</label>
							<div class="col-sm-10">
							  <input type="text" class="form-control" id="inputLength" placeholder="1234567" ng-model="settings.length">
							</div>
					  </div>
					  <div class="form-group">
							<label for="inputAmount" class="col-sm-2 control-label">Amount</label>
							<div class="col-sm-10">
							  <input type="text" class="form-control" id="inputAmount" placeholder="1234567" ng-model="settings.amount">
							</div>
					  </div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <div class="checkbox">
									<label>
										<input type="checkbox" ng-model="settings.containsLowerCaseLetters">
										Contains lower-case letters
									</label>
								</div>
							</div>
					  </div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="settings.containsUpperCaseLetters">
										Contains upper-case letters
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <div class="checkbox">
									<label>
										<input type="checkbox" ng-model="settings.containsNumbers">
										Contains numbers
									</label>
								</div>
							</div>
					  </div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <div class="checkbox">
									<label>
										<input type="checkbox" ng-model="settings.containsSpecialCharacters">
										Contains special charactrers
									</label>
								</div>
							</div>
					  </div>
					  <div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <button type="button" class="btn btn-primary" ng-click="generate($event)">Generate now!</button>
							</div>
					  </div>
					</form>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="well">
					<h3>Results</h3>
					<ul class="list-unstyled" ng-repeat="password in passwords track by $index">
						<li>{{password}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
